/* Mobile View */
#wrapper {
  border: 5px solid #e0ebf5;
  background-color: #fff;
}
  #header {
    position: relative;
    margin: 5px 5px 0;
    border: 2px solid #000;

  }
    .logo {
      display: inline-block;
      float: left;
      overflow: hidden;
    }
      .logo__link {
        display: block;
        border: 2px solid #000;
        border-radius: 5px;
        overflow: hidden;
      }
        .logo__img {
          display: block;
          width: 60px;
          padding: 8px;
          background-color: #e6e6e6
        }

    #main-nav .menu-trigger {
      display: inline-block;
      position: relative;
      float: right;
      padding: 25px;
      border: 2px solid #000;
      border-radius: 10px;
      background-color: #e6e6e6;
      font-size: 23px;
      text-transform: uppercase;
      cursor: pointer;
    }

    #main-nav #main-menu {
      display: none;
      position: absolute;
      top: 78px;
      right: -2px;
      margin: 0;
      padding: 0;
      border: 2px solid #000;
      list-style: none;
    }
      #main-menu li {
        width: 180px;
        background-color: #e6e6e6;
        border-bottom: 2px solid #000;
      }
      #main-menu li:nth-child(even) {
        background-color: #fff;
      }
      #main-menu li:last-child {
        border-bottom: none;
      }
        #main-menu li a {
          display: block;
          padding: 10px;
          text-decoration: none;
          color: #000;
        }
  #articles {
    margin: 20px;
  }
    .article {
      max-height: 200px;
      margin-bottom: 20px;
      padding: 10px;
      border: 2px solid #000;
      overflow: auto;
      box-sizing: border-box;
    }
    .article__title {
      margin: 0 0 10px;
      font-size: 20px;
    }
    .article__body {
      margin: 0;
      color: #b5b5b5;
    }
    #article_c {
      margin-bottom: 0;
    }

/* Tablet View */
@media only screen and (min-width: 768px) { /* Not using min-device-width, since I'm testing on a desktop PC */

  #header {
    margin: 0;
    border: none;
  }
    .logo {
      display: block;
      float: none;
      margin: 20px 0;
      text-align: center;
    }
      .logo__link {
        display: inline-block;
      }

    #main-nav {
      text-align: center;
    }
      #main-nav .menu-trigger {
        display: none;
      }

      #main-nav #main-menu {
        display: block;
        position: static;
        margin: 0 40px;
      }
        #main-menu li {
          display: inline-block;
          width: 33.33%;
          border-right: 2px solid #000;
          border-bottom: none;
          box-sizing: border-box;
        }
        #main-menu li:last-child {
          border-right: none;
        }

  #articles {
    margin: 40px;
  }
    #article_a,
    #article_b {
      width: 47.25%;
      max-height: 340px;
      margin-bottom: 40px;
    }
    #article_a {
      float: left;
      margin-right: 2.75%;
    }
    #article_b {
      float: right;
      margin-left: 2.75%;
    }
    #article_c {
      max-height: 160px;
    }
}

/* Desktop View */
@media only screen and (min-width: 1024px) { /* Not using min-device-width, since I'm testing on a desktop PC */
  #header {
    margin: 5px 5px 0;
    border: 2px solid #000;
  }
    .logo {
      float: left;
      margin: 8px;
    }
      .logo__link {
        display: block;
      }
        .logo__img {
          width: 75px;
        }

    #main-nav {
      display: inline-block;
      position: absolute;
      right: 0;
      bottom: 0;
    }
      #main-nav #main-menu {
        margin: 0;
        border-right: none;
        border-bottom: none;
      }
        #main-menu li {
          width: auto;
        }
          #main-menu li a {
            padding: 15px 60px;
          }

    #article_a,
    #article_b,
    #article_c {
      float: left;
      width: 31%;
      max-height: 520px;
      margin: 0;
    }

    #article_a,
    #article_b {
      margin-right: 3.5%;
    }
}

/* Clear Floats */
.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1; /* IE 6/7 */
}