/* Mobile View */
#wrapper {
  border: 5px solid #e0ebf5;
  background-color: #fff;
}
  #header {
    position: relative;
    margin: 5px 5px 0;
    border: 2px solid #000;

  }
    #logo-holder {
      display: inline-block;
      float: left;
      overflow: hidden;
    }
      #logo-holder a {
        display: block;
        border: 2px solid #000;
        border-radius: 5px;
        overflow: hidden;
      }
        #logo-holder img {
          display: block;
          width: 60px;
          padding: 8px;
          background-color: #e6e6e6
        }

    #main-nav .menu-trigger {
      display: inline-block;
      position: relative;
      float: right;
      padding: 25px;
      border: 2px solid #000;
      border-radius: 10px;
      background-color: #e6e6e6;
      font-size: 23px;
      text-transform: uppercase;
      cursor: pointer;
    }

    #main-nav #main-menu {
      display: none;
      position: absolute;
      top: 78px;
      right: -2px;
      margin: 0;
      padding: 0;
      border: 2px solid #000;
      list-style: none;
    }
      #main-menu li {
        width: 180px;
        background-color: #e6e6e6;
        border-bottom: 2px solid #000;
      }
      #main-menu li:nth-child(even) {
        background-color: #fff;
      }
      #main-menu li:last-child {
        border-bottom: none;
      }
        #main-menu li a {
          display: block;
          padding: 10px;
          text-decoration: none;
          color: #000;
        }
  #content {
    margin: 20px;
  }
    #content section {
      max-height: 200px;
      margin-bottom: 20px;
      padding: 5px;
      border: 2px solid #000;
      color: #b5b5b5;
      overflow: auto;
    }
    #content section:last-child {
      margin-bottom: 0;
    }

/* Tablet View */
@media only screen and (min-width: 768px) { /* Not using min-device-width, since I'm testing on a desktop PC */

  #header {
    margin: 0;
    border: none;
  }
    #logo-holder {
      display: block;
      float: none;
      margin: 20px 0;
      text-align: center;
    }
      #logo-holder a {
        display: inline-block;
      }

    #main-nav {
      text-align: center;
    }
      #main-nav .menu-trigger {
        display: none;
      }

      #main-nav #main-menu {
        display: block;
        position: static;
        margin: 0 40px;
      }
        #main-menu li {
          display: inline-block;
          width: 33.33%;
          border-right: 2px solid #000;
          border-bottom: none;
          box-sizing: border-box;
        }
        #main-menu li:last-child {
          border-right: none;
        }

  #content {
    margin: 40px;
  }
    #content #section-A,
    #content #section-B {
      width: 47.25%;
      max-height: 340px;
      margin-bottom: 40px;
      box-sizing: border-box;
    }
    #content #section-A {
      float: left;
      margin-right: 2.75%;
    }
    #content #section-B {
      float: right;
      margin-left: 2.75%;
    }
    #content #section-C {
      max-height: 160px;
    }
}

/* Clear Floats */
.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1; /* IE 6/7 */
}